body {
    background-color: #1a1a1a; 
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid rgb(14, 72, 222);
}

.nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav {
    position: relative;
    margin-top: 30px;
    height: 50px;
    width: 454px;
    display: flex;
    border-radius: 8px;
    background-color: #333;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: radial-gradient(circle at 85.4% 50.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%);
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span {
    left: 0;
}

nav a:nth-child(2):hover~span {
    left: 105px;
    width: 110px;
}

nav a:nth-child(3):hover~span {
    left: 220px;
    width: 110px;
}

nav a:nth-child(4):hover~span {
    left: 344px;
    width: 110px;
}

.social-icons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-right: 200px;
}

.social-icons a {
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: rgb(14, 72, 222);
}

/*titles*/

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

.text-content {
    flex: 1;
    margin-left: 150px;
}

.text-content  h1{
    color: rgb(14, 72, 222);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    width: 12ch;
    border-right: 4px solid;
    margin-top: 5px;
    animation: typing 2s  steps(13),
               blinking 4s infinite step-end alternate
              ;
    white-space: nowrap;
    overflow: hidden;
} 

@keyframes blinking {
    50% { border-color: transparent; }
}

@keyframes typing{
    from { width: 0;}
}


.text-content  h3{
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    margin-bottom: 10px;
}



.bn632-hover {
    width: 170px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    transform: scale(1.1);
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn24 {
    background-image: linear-gradient(
        to right,
        rgb(3, 22, 65),
        rgb(14, 72, 222),
        #00d4ff,
        #090979
    );
    box-shadow: 0 4px 15px 0 rgba(6, 34, 161, 0.75);
}

.image-content {
    flex-shrink: 0;
    margin-right: 200px;
}

img {
    width: 375px;
    height: 400px;
    border-radius: 50%;
    border: 5px  solid rgb(14, 72, 222);
    cursor: pointer;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.2); 
}
